{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}Nette Sandbox</title>

	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="stylesheet" href="{$basePath}/css/grido.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<meta name="viewport" content="width=device-width">
	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	  <script src="{$baseUri}/js/jquery-2.1.1.min.js"></script>
            <!--<![endif]-->

            <script src="{$baseUri}/js/netteForms.js"></script>
            <script src="{$baseUri}/js/nette.ajax.js"></script>
            <script src="{$baseUri}/js/main.ajax.js"></script>
            <script src="{$baseUri}/js/animate.js"></script>
            <script type="text/javascript" src="{$baseUri}/js/opentip-jquery.min.js"></script>
            <script type="text/javascript" src="{$baseUri}/js/bootstrap.min.js"></script>
            <script src="{$baseUri}/js/spinner.ajax.js"></script>
            <script src="{$baseUri}/js/grido.ajax.js"></script>
            <script src="{$baseUri}/js/jquery.hashchange.min.js"></script>
            <script src="{$baseUri}/js/jquery.maskedinput.min.js"></script>
            <script src="{$baseUri}/js/typeahead.min.js"></script>
            <script src="{$baseUri}/js/bootstrap-datepicker.js"></script>
            <script type="text/javascript" src="{$baseUri}/js/grido.js"></script>
            <script src="{$baseUri}/js/grido.ext.js"></script>
	{/block}

</body>
</html>
