{block content}
        <h1 n:block="title">Seznam společností</h1>
       <div n:foreach="$companies as $company" class="company">
           <h2> Společnost {$company->name}</h2>
           <div>id:{$company->companyId}</div>
			<div>nazev:{$company->name}</div>
			<div>ICO:{$company->ico}</div>
			<div>mesto:{$company->city}</div>
			<div>ulice:{$company->street}</div>
			<div>cislo popisne:{$company->descriptive_number}</div>
			<div>cislo orientacni:{$company->orientation_number}</div>
			<div>psč:{$company->zip}</div>
			 <p><input type=checkbox name="sel[]" value={$company->companyId}> Tisk adresy</p>
		    <a n:href="Company:edit, companyID => $company->companyId,adress => $company->id">Upravit</a>
       </div>
       <h2><a n:href="Company:create">Přidat společnost</a></h2>
        <h2><a n:href="Company:showAdress">Zobrazit adresy</a></h2>
    {/block}
