{block content}
        <h1 n:block="title">Seznam adress</h1>
        <div n:foreach="$adress as $adr" class="adress">
			<div>mesto:{$adr->city}</div>
			<div>ulice:{$adr->street}</div>
			<div>cislo popisne:{$adr->descriptive_number}</div>
			<div>cislo orientacni:{$adr->orientation_number}</div>
			<div>psč:{$adr->zip}</div>
			<br>
		</div>
{/block}
